@import "../component/index";
@import "../component/about-me";
@import "../component/portfolio";
@import "../component/curriculum";
@import "../component/contacto";
@import "../base/lista";
@import "../base/variables";
@import "../base/mixin";
@import "../base/maps";
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700&family=Poppins:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Nunito", sans-serif;
  font-family: "Poppins", sans-serif;
}
h1{
  display: none;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
header {
  width: map-get($display, w);
  height: 40vh;
  div {
    background-image: url(../images/Logo.jpeg);
    background-size: 100% 400%;
    background-repeat: no-repeat;
    background-position: center;
    width: map-get($display, w);
    height: 40vh;
  }
  nav {
    ul {
      display: map-get($display, d-f);
      background-color: nth($colores, 1);
      width: map-get($display, w);
      height: 5vh;
      align-items: map-get($display, c);
      justify-content: map-get($display, s-e);
      li {
        display: map-get($display, d-f);
        align-items: map-get($display, c);
        padding: 0 20px;
        font-size: 2vw;
        background-color: nth($colores, 1);
        height: 5vh;
        width: auto;
        border-radius: $radius;
        &:hover {
          background-color: $color-secundario;
          transition: 0.5s;
        }
        a {
          color: nth($colores, 2);
        }
      }
    }
  }
}
main {
  background-color: nth($colores, 1);
  height: auto;
  h2 {
    color: nth($colores, 2);
    text-align: map-get($display, c);
    font-size: 10vh;
    padding: 30px 0;
  }
}
footer {
  nav {
    ul {
      display: map-get($display, d-f);
      align-items: map-get($display, c);
      width: map-get($display, w);
      height: 5vh;
      background-color: nth($colores, 1);
      li {
        a {
          img {
            display: map-get($display, d-f);
            align-items: map-get($display, c);
            width: auto;
            height: 4.5vh;
            padding: 0 20px;
          }
        }
      }
    }
  }
}
/*Mobile*/
@media (max-width: 480px) {
  .container-header {
    height: auto;
  }

  .container-header-image {
    background-size: 100% 150%;
  }

  .container-header nav ul {
    flex-direction: column;
    height: auto;
    align-items: map-get($display, c);
    justify-content: map-get($display, c);
  }
  .container-header nav ul li {
    margin: 7px 0;
    font-size: 3.5vh;
    width: auto;
  }

  .main-title {
    font-size: 6vh;
  }
}
/*Tablet*/
@media (min-width: 481px) and (max-width: 900px) {
  .container-header {
    height: auto;
  }

  .container-header-image {
    background-size: 100% 250%;
  }

  .container-header nav ul {
    flex-direction: column;
    height: auto;
    align-items: map-get($display, c);
    justify-content: map-get($display, c);
  }
  .container-header nav ul li {
    margin: 10px 0;
    font-size: 4.5vh;
    width: auto;
  }

  .main-title {
    font-size: 8vh;
  }
}
/*Notebook*/
@media (min-width: 901px) and (max-width: 1023px) {
  .container-header-image {
    background-size: 100% 350%;
  }
}
