@import "../base/lista";
@import "../base/variables";
@import "../base/mixin";

.curriculum-title {
  color: nth($colores, 2);
  text-align: left;
  padding: 0 5vw;
  font-size: 7vh;
  font-weight: 300;
  text-decoration: underline;
}
.curriculum-ul {
  padding: 3vh 10vw 3vw 10vw;
  text-align: justify;
  height: auto;
  color: nth($colores, 2);
  li {
    list-style: disc;
    padding-top: 2vh;
    color: nth($colores, 2);
    p {
      font-weight: 500;
      font-size: 3vh;

      span {
        font-weight: lighter;
      }
    }
  }
}
/* Curriculum-mobile */
@media (max-width: 480px) {
  .curriculum-title {
    font-size: 4vh;
    font-weight: 200;
  }
  .curriculum-ul {
    
    li {
      
      p {
        
        font-size: 2vh;
  
        
      }
    }
}
}
